[package]
name = "sml-comment"
version.workspace = true
edition.workspace = true
license.workspace = true
publish.workspace = true

[lints]
workspace = true

[lib]
test = false
doctest = false

[dependencies]
sml-syntax.path = "../sml-syntax"
