*.tmp
*.vsix
/.vscode/cspell.json
/crates/syntax/src/ast.rs
/crates/syntax/src/kind.rs
/crates/syntax/src/ptr.rs
/extensions/vscode/node_modules
/extensions/vscode/out
/sml97-defn.pdf
/target
/thoughts.md
