[package]
name = "sml-ty-var-scope"
version.workspace = true
edition.workspace = true
license.workspace = true
publish.workspace = true

[lib]
test = false
doctest = false

[dependencies]
fast-hash.workspace = true
sml-hir.path = "../sml-hir"
