[package]
name = "sml-statics"
version.workspace = true
edition.workspace = true
license.workspace = true
publish.workspace = true

[lints]
workspace = true

[lib]
test = false
doctest = false

[dependencies]
chain-map.workspace = true
diagnostic.workspace = true
elapsed.workspace = true
fast-hash.workspace = true
fmt-util.workspace = true
log.workspace = true
paths.workspace = true
pattern-match.workspace = true
str-util.workspace = true
uniq.workspace = true

config.path = "../config"
cov-mark.path = "../cov-mark"
sml-hir.path = "../sml-hir"
sml-namespace.path = "../sml-namespace"
sml-path.path = "../sml-path"
sml-statics-types.path = "../sml-statics-types"
sml-symbol-kind.path = "../sml-symbol-kind"

[features]
sync = ["chain-map/sync", "sml-statics-types/sync", "sml-symbol-kind/sync"]
