[package]
name = "sml-lab"
version.workspace = true
edition.workspace = true
license.workspace = true
publish.workspace = true

[lib]
doctest = false
test = false

[dependencies]
str-util = { git = "https://github.com/azdavis/language-util.git" }
