[package]
name = "diagnostic-util"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false

[lib]
test = false
doctest = false

[dependencies]
text-pos = { git = "https://github.com/azdavis/language-util.git" }
